<div class="row mt-med">
  <form class="col xl4 l6 m8 s12 offset-xl4 offset-l3 offset-m2" onsubmit="this.login()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row mt-med">
      <div class="col s12 center-align">
        <input type="submit" value="Login" class="waves-effect waves-light btn red lighten-1">
      </div>
    </div>
  </form>
</div>
